/* cleints */

.client-titel {
    margin-bottom: 50px;
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    color: var(--icon-cl);

    transition: color var(--anim-fast), border var(--anim-fast);



&:hover,
&:focus {
    color: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
}
}

.client-icon {
    fill: currentColor;
}