.logo {
    margin-right: 93px;
}
/* logo styles*/
.logo {
    font-family: 'Raleway';
    color: var(--accent-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);

    letter-spacing: 0.03em;
}.studio-footer {
    color: var(--hero-txt-cl);
}

.studio-header {
    color: #000000;
}