.header-nav {
    margin-right: auto;
}

.header-nav-list,
.header-contact {
    display: flex;
    align-items: center;
    gap: 50px;
}
/*header-nav styles*/
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-link {


    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-txt-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    transition: color var(--anim-fast);

&:hover,
&:focus {
    color:
        var(--accent-txt-cl);
}
}

.header-link-current {
    color: var(--accent-txt-cl);
    position: relative;
}

.header-link-current:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-txt-cl);

    position: absolute;
    bottom: 0;
    left: 0;


}

