.main-title {
    text-align: center;
    color: var(--hero-txt-cl);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        font-size: 26px;
    line-height: calc(60/44);

    
        @media screen and (min-width: 1200px) {
            max-width: 696px;
    
            font-size: 44px;
            line-height: calc(60/44);
        }
}