/*reset styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: var(--main-txt-cl);
}

.list {
    list-style: none;

    padding: 0;
    margin: 0;
}
.img {
    display: block;
}